table.alert-row-table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
    height: auto;
}

table.alert-row-table td, table.alert-row-table th {
    border: 1px solid #595959;
    border-spacing: 5px;
    border-collapse: separate;
}

table.alert-row-table td, table.alert-row-table th {
    min-height: 35px;
    min-width: 50px;
    padding: 3px;
    width: 30px;
    height: 35px;
}

table.alert-row-table th {
    background: #347c99;
    color: #fff;
    font-weight: normal;
}

.alert-number-cell {
    background-color: #c9ccd3;
    text-align: center;
    font-size: 50pt;
    max-width: 0;
}

.alert-time-cell {
    background-color: #c9ccd3;
    text-align: center;
}

.alert-zone-cell {
    background-color: #fee69a;
    text-align: center;
    max-width: 0;
}

.alert-bed-cell {
    background-color: #da9690;
    text-align: center;
    max-width: 0;
}

.alert-department-cell {
    background-color: #b8dee9;
    text-align: center;
}

.alert-patient-cell {
    background-color: #c9ccd3;
}

.alert-close-cell {
    background-color: #c5d7a1;
    font-size: 20pt;
    color: #06b352;
    text-align: center;
}

.alert-close-btn {
    border: 0 !important;
    font-size: 20pt !important;
    background-color: #c5d7a1 !important;
    border-radius: 0 !important;
    width: 100% !important;
    color: #06b352 !important;
}