@font-face {
    font-family: "SegoeUILight";
    src: url("../font/Segoe_UI_Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: #373737;
    color: #f4f4f4;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    font-family: SegoeUILight, monospace;
    border-collapse: collapse;

}

td {
    cursor: pointer;
    height: auto;
    vertical-align: middle;
    padding: 10px;
}

.timer {
    text-align: center;
    font-size: 3em;
    font-family: "Noto Sans", monospace;
}

.dot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.green {
    background-color: limegreen;
}

.red {
    background-color: red;
}

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}